.subreddits-div {
    background: white;
    grid-column: span 1;
    border-radius: 8px;
    /* padding: 2rem; */
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #484444;
    position: absolute;
    top: 1.2rem;
    left: 2rem
}

.title-container {
    height: 5rem;
    position: relative;
}

.listoptions {
    margin-left: 1rem;
    /* border: 1px solid red */
}

.reddit-div {
    /* height: 5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    font-weight: 700;
    font-size: 0.8rem;
    color: #717474;
}

.reddit-div:hover {
    cursor: pointer;
    background-color: #dddddd;
}

.selected {
    border-left: 3px solid blue
}

.image {
    margin: 1rem;
    width: 20%;
    /* border: 1px solid red; */
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain
}