@media only screen and (max-width: 480px){
    .searchbar {
        /* position: absolute; */
        left: 5rem;
        right: 0;
        color: rgb(19, 19, 19);
        width: 10rem;
        height: 2.25rem;
        padding-left: 1rem;
        border: 0;
        background-color: #f3f3f3;
        border-radius: 0.5rem;
    }
}