.header {
    height: 3.875rem;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-container {
    display: flex;
    align-items: center;
    width: clamp(6rem, 40%, 30rem);
}

.logo {
    width: 2.25rem;
}

.logo-text {
    color: #444444;
    margin-left: 0.3125rem;
    font-weight: 700;

}

#word-reddit {
    color: #fecace;
}

.hamburger {
    display: none;
}