@media only screen and (max-width: 50em) {
    .post-div {
        grid-template-columns: 2.5rem 72vw;
    }
    
    .updoot-div {
        font-size: 1rem;
    }

    .updoot {
        height: 2rem;
        width: 2rem;
    }
}