.post-div * {
    /* border: 1px solid red; */
}

.post-div {
    display: grid;
    grid-template-columns: 3.2rem 64vw;
    margin-bottom: 1rem;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 6px 4px -2px #dadada;
}

.updoot-div {
    color: #717474; /* 717474 */
    font-size: 1.3rem;
    margin-top: 2rem;
    font-weight: 700;

    /* padding-right: 2rem; */
    /* padding-top: 2rem; */
}

.updoot {
    font-size: 1.3rem;
    border: none;
    background: none;
    cursor: pointer;
    color: #717474;
    display: flex;

}

.content-div {
    grid-column-start: 2;
}

.post-title {
    color: #484444;
    font-size: clamp(0.5rem, 4vw, 1.3rem);
    padding-bottom: 0.7rem;
    font-weight: 700;


    /* height: 5%; */
    /* vertical-align: auto; */
}

.post-image {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 0.7rem;
}

.metadata-div {
    padding-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(207, 207, 207);
    /* width: 100%; */
}

.author {
    color: #fecace;
    font-weight: 700;
}

.upload-time {
    font-weight: 100;
    font-size: 0.8rem;
    color: #717474; /* 717474 */
}

.comments {
    font-weight: 100;
    font-size: 0.8rem;  
    color: #717474; /* 717474 */
    cursor: pointer
}

.comments-div {
    height: 20rem;
    grid-column: span 2;
    width: 100%;
    border: 1px solid #484444;
    border-radius: 10px;
    /* border: 1px solid blue; */
}

.comments-header-container > h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #717474; /* 717474 */
    width: 75%;
    padding: 0.3rem 0;
    text-align: center;
    border-bottom: 1px solid #a4a4a4;

}

.comments-header-container {
    display: flex;
    justify-content: center;
}