.post-div {
    display: flex;
    margin-bottom: 1rem;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #f0f0f0
    /* grid-template-columns: repeat(10, 1fr); */
    /* gap: 10px; */
    /* border: 1px solid orchid; */
    /* overflow: scroll; */
    /* width: clamp(3rem, 20%, 5rem); */
    /* height: 100%; */
}

.updoot-div {
    /* background: red; */
    display: inline;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #717474;
    height: 100%;
    /* grid-template-rows: repeat(3, 1fr); */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* font-size: 1.5rem; */
    /* border: 1px solid green; */
    
}

.updoot {
    border: none;
    background: none;
    cursor: pointer;
    color: #717474;
}

.post-title {
    color: #444444;
    font-size: 1rem; /*clamp(0.5rem, 3vw, 1.5rem)*/
}

.post-image {
    max-width: 40vw;
}

.metadata-div {
    display: flex;
    justify-content: space-between;
}